@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.header {
  background: url("../public/wave.svg") no-repeat;
  background-size: cover;
}
